@media screen and (min-width:480px) and (max-width:720px){
/*content开始*/
.content{
	width:96%;
	padding-left:2%;
	padding-right:2%;
}
.subcontent{
	width: 100%;
	padding-top:30px;
}
.subcontent .left{
	width:100%;
	border: none;
}
.subcontent .left ul li{
	width:40%;
	margin-right:2%;
	height:77px;
	float: left;
}
.subcontent .left ul li:nth-child(1){
	background: url(../img/xygk_03.jpg) no-repeat 2% center;
	border-bottom: 3px solid #ff942d;
	margin-left: 10%;
}
.subcontent .left ul li:nth-child(2){
	background: url(../img/xygk_06.jpg) no-repeat 2% center;
	border-bottom: 3px solid #ffffff;
}
.subcontent .left ul li a{
	font-size: 22px;
	color: #222;
	height:80px;
	line-height:80px;
	padding-left: 90px;
}
.subcontent .right{
	width:100%;
	margin-left: 0;
	margin-top:20px;
	padding-bottom:60px;
}
.subcontent .right p{
	width: 100%;
	font-size: 16px;
	line-height: 30px;
	text-indent: 32px;
}
.subcontent .right p:nth-child(4){
	padding-top:29px;
}
.subcontent .right img{
	width: 100%;
	padding-top: 17px;
	padding-bottom: 32px;
}

}