@media screen and (min-width:700px) and (max-width:1000px){
	.subheader nav ul li:nth-child(2){background: #5c5c5c;}
/*content开始*/
.content{
	width:98%;
	padding-left: 1%;
	padding-right: 1%;
}
.subcontent{
	width: 100%;
	padding-top: 100px;
}
.subcontent .left,.subcontent .right{float: left;}
.subcontent .left{
	width: 26.5%;
	border-right: 1px solid #bbb;
}
.subcontent .left ul li{
	width:90%;
	height:77px;
}
.subcontent .left ul li:nth-child(1){
	background: url(../img/xygk_02.jpg) no-repeat 2% center;
	border-bottom: 3px solid #ffffff;
}
.subcontent .left ul li:nth-child(2){
	background: url(../img/xygk_07.jpg) no-repeat 2% center;
	border-bottom: 3px solid #ff942d;
}
.subcontent .left ul li:nth-child(1):hover{
	background: url(../img/xygk_03.jpg) no-repeat 2% center;
	border-bottom: 3px solid #ff942d;
}
.subcontent .left ul li a{
	font-size: 22px;
	color: #222;
	height:80px;
	line-height:80px;
	padding-left:75px;
}
.subcontent .right{
	width:66.9%;
	margin-left: 5%;
	padding-bottom:60px;
}
.subcontent .right h4{
	width: 100%;
	font-size: 18px;
	color: #FA9634;
	line-height: 36px;
}
.subcontent .right p{
	width: 100%;
	font-size: 16px;
	line-height: 28px;
	color: #222222;
}

}

























