.subheader nav ul li:nth-child(7){background: #5c5c5c;}
@media screen and (min-width:1000px){
	.content{width: 100%;}
	.subcontent{
		width: 1000px;
		padding-top: 120px;
		margin: 0 auto;
	}
	.subcontent .left,.subcontent .right{
		float: left;
	}
	.subcontent .left{
		width: 281px;
		border-right: 1px solid #bbb;
	}
	.subcontent .left ul li{
		width: 265px;
		height: 77px;
		border-bottom: 3px solid #FFFFFF;
	}
	.subcontent .left ul li a{
		display: block;
		width: 190px;
		line-height: 77px;
		padding-left: 70px;
		color: #222;
		font-size: 24px;
	}
	.subcontent .left ul li:nth-child(1){
		background:url(../img/service_03.jpg) no-repeat 20px center;
		
	}
	.subcontent .left ul li:nth-child(2){
		background:url(../img/service_06.jpg) no-repeat 20px center;
		border-bottom: 3px solid #FA9634;
	}
	.subcontent .left ul li:nth-child(3){
		background: url(../img/service_08.jpg) no-repeat 20px center;
	}
	.subcontent .left ul li:nth-child(4){
		background: url(../img/service_10.jpg) no-repeat 20px center;
	}
	.subcontent .left ul li:nth-child(1):hover{
		background:url(../img/service_04.jpg) no-repeat 20px center;
		border-bottom: 3px solid #FA9634;
	}
	.subcontent .left ul li:nth-child(3):hover{
		background:url(../img/service_09.jpg) no-repeat 20px center;
		border-bottom: 3px solid #FA9634;
	}
	.subcontent .left ul li:nth-child(4):hover{
		background:url(../img/service_11.jpg) no-repeat 20px center;
		border-bottom: 3px solid #FA9634;
	}
	.subcontent .right{
		width:659px;
		padding-bottom:180px;
		margin-left: 45px;
	}
	.subcontent .right h4{
		font-size: 18px;
		color: #FA9634;
		font-weight: bold;
		line-height:50px;
	}
	.subcontent .right h5{
		font-size: 16px;
		color: #222222;
		font-weight: bold;
	}
	.subcontent .right h6{
		font-size: 16px;
		margin-top: 10px;
		font-weight: bold;
	}
	.subcontent .right p{
		font-size: 16px;
		line-height:30px;
		color: #000000;
		text-indent: 0px !important;
	}
	.subcontent .right p span{
		font-weight: bold;
	}
}	

/***********************************************************************/
@media screen and (min-width:720px) and (max-width:1000px){
	.content{
		width:96%;
		padding-left: 2%;
		padding-right: 2%;
	}
	.subcontent{
		width:100%;
		padding-top: 120px;
		margin: 0 auto;
	}
	.subcontent .left,.subcontent .right{
		float: left;
	}
	.subcontent .left{
		width: 28.1%;
		border-right: 1px solid #bbb;
	}
	.subcontent .left ul li{
		width:97%;
		height: 77px;
		border-bottom: 3px solid #FFFFFF;
	}
	.subcontent .left ul li a{
		display: block;
		width: 190px;
		line-height: 77px;
		padding-left: 70px;
		color: #222;
		font-size: 24px;
	}
	.subcontent .left ul li:nth-child(1){
		background:url(../img/service_03.jpg) no-repeat 20px center;
		
	}
	.subcontent .left ul li:nth-child(2){
		background:url(../img/service_06.jpg) no-repeat 20px center;
		border-bottom: 3px solid #FA9634;
	}
	.subcontent .left ul li:nth-child(3){
		background: url(../img/service_08.jpg) no-repeat 20px center;
	}
	.subcontent .left ul li:nth-child(4){
		background: url(../img/service_10.jpg) no-repeat 20px center;
	}
	.subcontent .left ul li:nth-child(1):hover{
		background:url(../img/service_04.jpg) no-repeat 20px center;
		border-bottom: 3px solid #FA9634;
	}
	.subcontent .left ul li:nth-child(3):hover{
		background:url(../img/service_09.jpg) no-repeat 20px center;
		border-bottom: 3px solid #FA9634;
	}
	.subcontent .left ul li:nth-child(4):hover{
		background:url(../img/service_11.jpg) no-repeat 20px center;
		border-bottom: 3px solid #FA9634;
	}
	.subcontent .right{
		width:65.9%;
		padding-bottom:120px;
		margin-left: 4.5%;
	}
	.subcontent .right h4{
		font-size: 18px;
		color: #FA9634;
		font-weight: bold;
		line-height:50px;
	}
	.subcontent .right h5{
		font-size: 16px;
		color: #222222;
		font-weight: bold;
	}
	.subcontent .right h6{
		font-size: 16px;
		margin-top: 10px;
		font-weight: bold;
	}
	.subcontent .right p{
		font-size: 16px;
		line-height:30px;
		color: #000000;
		text-indent: 32px;
	}
	.subcontent .right p span{
		font-weight: bold;
	}
}

/***********************************************************************/
@media screen and (min-width:480px) and (max-width:720px){
	.content{
		width:96%;
		padding-left: 2%;
		padding-right: 2%;
	}
	.subcontent{
		width:100%;
		padding-top:20px;
		margin: 0 auto;
	}
	.subcontent .left{
		width:100%;
	}
	.subcontent .left ul li{
		width:25%;
		float: left;
		border-bottom: 3px solid #FFFFFF;
	}
	.subcontent .left ul li a{
		display: block;
		line-height:50px;
		padding-top: 50px;
		text-align: center;
		color: #222;
		font-size:20px;
	}
	.subcontent .left ul li:nth-child(1){
		background:url(../img/service_03.jpg) no-repeat center 10px;
	}
	.subcontent .left ul li:nth-child(2){
		background:url(../img/service_06.jpg) no-repeat center 10px;
		border-bottom: 3px solid #FA9634;		
	}
	.subcontent .left ul li:nth-child(3){
		background: url(../img/service_08.jpg) no-repeat center 10px;
	}
	.subcontent .left ul li:nth-child(4){
		background: url(../img/service_10.jpg) no-repeat center 10px;
	}
	.subcontent .right{
		width:100%;
		padding-bottom:120px;
	}
	.subcontent .right h4{
		font-size: 18px;
		color: #FA9634;
		font-weight: bold;
		line-height:50px;
	}
	.subcontent .right h5{
		font-size: 16px;
		color: #222222;
		font-weight: bold;
	}
	.subcontent .right h6{
		font-size: 16px;
		margin-top: 10px;
		font-weight: bold;
	}
	.subcontent .right p{
		font-size: 16px;
		line-height:30px;
		color: #000000;
		text-indent: 32px;
	}
	.subcontent .right p span{
		font-weight: bold;
	}
}
/***********************************************************************/
@media screen and (max-width:480px){
	.content{
		width:96%;
		padding-left: 2%;
		padding-right: 2%;
	}
	.subcontent{
		width:100%;
		padding-top:20px;
		margin: 0 auto;
	}
	.subcontent .left{
		width:100%;
	}
	.subcontent .left ul li{
		width:25%;
		float: left;
		border-bottom: 3px solid #FFFFFF;
	}
	.subcontent .left ul li a{
		display: block;
		line-height:50px;
		padding-top: 50px;
		text-align: center;
		color: #222;
		font-size:20px;
	}
	.subcontent .left ul li:nth-child(1){
		background:url(../img/service_03.jpg) no-repeat center 10px;
	}
	.subcontent .left ul li:nth-child(2){
		background:url(../img/service_06.jpg) no-repeat center 10px;
		border-bottom: 3px solid #FA9634;		
	}
	.subcontent .left ul li:nth-child(3){
		background: url(../img/service_08.jpg) no-repeat center 10px;
	}
	.subcontent .left ul li:nth-child(4){
		background: url(../img/service_10.jpg) no-repeat center 10px;
	}
	.subcontent .right{
		width:100%;
		padding-bottom:120px;
	}
	.subcontent .right h4{
		font-size: 18px;
		color: #FA9634;
		font-weight: bold;
		line-height:50px;
	}
	.subcontent .right h5{
		font-size: 16px;
		color: #222222;
		font-weight: bold;
	}
	.subcontent .right h6{
		font-size: 16px;
		margin-top: 10px;
		font-weight: bold;
	}
	.subcontent .right p{
		font-size: 16px;
		line-height:30px;
		color: #000000;
		text-indent: 32px;
	}
	.subcontent .right p span{
		font-weight: bold;
	}
}


